{% extends 'base_accounts.html' %}

{% block title %}
  {% if validlink %}
    Cambie su contraseña para {{ form.user.username }}
  {% else %}
    Reestablezca su contraseña
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          {% if validlink %}
            <h3 class="card-title">Cambie su contraseña para @{{ form.user.username }}</h3>
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-success btn-block">Cambiar contraseña</button>
            </form>
          {% else %}
            <h3 class="card-title">Cambie su contraseña</h3>
            <div class="alert alert-danger" role="alert">
              Parece que has entrado en una URL equivocada, por favor, pruebe de nuevo.
            </div>
            <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Solicite un nuevo enlace de restablecimiento de contraseña</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}