{% extends 'base_accounts.html' %}

{% block title %}Cambie su contraseña{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Cambie su contraseña</h3>
          <p>Consulte su email asociado para acceder al link de cambio de contraseña. Si no aparece en unos minutos consulte su bandeja de spam</p>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Volver al log in</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}