{% extends 'base_profile.html' %}

{% block breadcrumb %}
 <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
 <li class="breadcrumb-item"><a href="{% url 'my_account' %}">Mi cuenta</a></li>
 <li class="breadcrumb-item active">Cambio de contraseña</li>
{% endblock %}

{% block subcontent %}
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success">Cambiar contraseña</button>
      </form>
    </div>
  </div>
{% endblock %}