Hola,

Se está intentando cambiar su contraseña de la cuenta asociada a {{ email }}.
Para cambiarla pulsse click en este link:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

En caso de haber olvidado su nick: {{ user.username }}

En caso de no funcionar el link copie y pegue en su navegador el URL directamente.

Si recibiste este email sin solicitar el cambio, puede que alguien haya introducido su correo por error,
en este caso no tiene por que hacer nada y le pedimos disculpas.

Gracias,

El equipo de Eventies