
{% extends 'base_profile.html' %}

{% load assign_tag %}
{% load staticfiles %}
{% load static %}

{% load form_tags widget_tweaks %}

{% block title %}Preferencias{% endblock %}

{% block stylesheet %}<!-- opcion de estilo -->
	<link rel="stylesheet" href="{% static 'css/preferencesAccount.css' %}">
	<link rel="stylesheet" href="{% static 'css/image-picker.css' %}">
{% endblock %}

{% block javascript %}
	<script src="{% static 'js/image-picker.js' %}"></script>
{% endblock %}
image-picker.js

{% block breadcrumb %}
 <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
 <li class="breadcrumb-item"><a href="{% url 'my_account' %}">Mi cuenta</a></li>
 <li class="breadcrumb-item active">Mis preferencias</li>
{% endblock %}

{% block subcontent %}




<div class="container-fluid">
	<select id="selectImage"  multiple="multiple" class="image-picker show-html">
	{% for category in all_categories %}
 		{% ifequal forloop.counter|mod:2 0 %}
		<div class="row">
		{% endifequal %}
			<option data-img-label='{{category.name_category}}' data-img-src='{{category.photo.url}}' value='{{category.pk}}'>	
				
			</option>
			</div>
		{% ifequal forloop.counter|mod:2 0 %}
		</div>
		{% endifequal %}	
	{% endfor %}
	</select>
</div>
{% endblock %}

{% block javascriptBottom %}
<script>
$(document).ready(function () {
    $("#selectImage").imagepicker({
        hide_select: true
    });

    var $container = $('.image_picker_selector');
    // initialize
    $container.imagesLoaded(function () {
        $container.masonry({
            columnWidth: 30,
            itemSelector: '.thumbnail'
        });
    });
});
</script>
{% endblock %}