{% extends 'base_profile.html' %}

{% load form_tags widget_tweaks %}

{% block breadcrumb %}
 <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
 <li class="breadcrumb-item"><a href="{% url 'my_account' %}">Mi cuenta</a></li>
 <li class="breadcrumb-item active">Mis preferencias</li>
{% endblock %}

{% block subcontent %}
<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">{{form}}</h3>
	</div>
</div>
{% endblock %}

{% block javascriptBottom %}
<script>
//para inicializar la fecha en el input de Date
$(document).ready(function() {
	var str = '{{ form.instance.birth_date|date:"Y-m-d" }}'     
    $("#id_birth_date").attr("value", str);
});
</script>

<script>
	var enable = true;
	function enable_disableForm(){
		var button = document.getElementById("enable_diable_button");
		if(enable){
			button.innerHTML ="Habilitar edición";
			document.getElementById("save_button").style.visibility = 'hidden';
		}
		else{
			button.innerHTML ="Deshabilitar edición";
			document.getElementById("save_button").style.visibility = 'visible';
		}
			{% for field in form.visible_fields %}
				document.getElementById("id_{{field.name}}").disabled = !document.getElementById("id_{{field.name}}").disabled;
			{% endfor %}
		enable = !enable;
	}
	enable_disableForm();
</script>
{% endblock %}