
{% extends 'base_profile.html' %}

{% load assign_tag %}
{% load staticfiles %}
{% load static %}

{% load form_tags widget_tweaks %}

{% block title %}Preferencias{% endblock %}

{% block stylesheet %}<!-- opcion de estilo -->
	<link rel="stylesheet" href="{% static 'css/preferencesAccount.css' %}">
	<link rel="stylesheet" href="{% static 'css/image-picker.css' %}">
{% endblock %}

{% block javascript %}
	<script src="{% static 'js/image-picker.js' %}"></script>
{% endblock %}

{% block breadcrumb %}
 <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
 <li class="breadcrumb-item"><a href="{% url 'my_account' %}">Mi cuenta</a></li>
 <li class="breadcrumb-item active">Mis preferencias</li>
{% endblock %}

{% block subcontent %}



<form  method="post" id="mainForm" class="mb-4"  novalidate>
	{% csrf_token %}
	<button type="submit" id="save_button" class="btn btn-success">Guardar preferencias</button><br><br>
	<div class="container-fluid">
		<select name="my_categories" id="selectImage"  multiple="multiple" class="image-picker"  >
		{% for category in all_categories %}
	 		{% ifequal forloop.counter|mod:2 0 %}
			<div class="row">
			{% endifequal %}
				<option data-img-src='{{category.photo.url}}' value='{{category.name_category}}'>	
				{{category.name_category}}--{{category.description}}
				  	<!--
				  	<div class="middle">
   					 	<div class="text">{{category.description}}</div>
  					</div>
					-->
				</option>
			{% ifequal forloop.counter|mod:2 0 %}
			</div>
			{% endifequal %}	
		{% endfor %}
		</select>
	</div>

	<button type="submit" id="save_button" class="btn btn-success">Guardar preferencias</button>
	{% for category in my_categories %}
		<input type="hidden" name="previous_categories" value="{{category}}">
	{% endfor %}

</form>
{% endblock %}

{% block javascriptBottom %}
<script>
$(document).ready(function () {
    $("#selectImage").imagepicker({
        hide_select: true,
        show_label  : true
    });
});

//inizializa las que ya entran dentro de mis categorías
{% for category in my_categories %}
	$("#selectImage").find('option[value="{{category}}"]').prop('selected',true);
{% endfor %}

</script>
{% endblock %}