{% extends 'base_accounts.html' %}

{% block title %}Crear cuenta en Eventies{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
  <li class="breadcrumb-item active">Crear cuenta</li>
{% endblock %}


{% block content %}
<div class="container">
    <h1 class="well">Formulario de registro</h1>
    <form method="post" novalidate>
	  {% csrf_token %}
	  {% include 'includes/form.html' with form=form %}
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
		<div class="text-center py-2">
			<a href="{% url 'login' %}" class="text-muted">¿Ya tienes cuenta?</a>
		</div>
	</div>
{% endblock %}
