ul.thumbnails.image_picker_selector {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px; }
  ul.thumbnails.image_picker_selector ul {
    overflow: auto;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0px;
    margin: 0px; }
  ul.thumbnails.image_picker_selector li.group {width:100%;} 
  ul.thumbnails.image_picker_selector li.group_title {
    float: none; }
  ul.thumbnails.image_picker_selector li {
    margin: 0px 12px 12px 0px;
    float: left; }
    ul.thumbnails.image_picker_selector li .thumbnail {
      padding: 6px;
      border: 1px solid #dddddd;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none; }
      ul.thumbnails.image_picker_selector li .thumbnail img {
        -webkit-user-drag: none; 
        max-width:517px;
        min-width:517px;
        max-height:260px;
        min-height:260px;
        opacity: 1;
		display: block;
	    transition: .5s ease;
		backface-visibility: hidden;
        }
      
        
        
    ul.thumbnails.image_picker_selector li .thumbnail.selected {
      background: #0088cc; }




ul.thumbnails.image_picker_selector li .thumbnail {
    position: relative;
}


ul.thumbnails.image_picker_selector li .thumbnail .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

ul.thumbnails.image_picker_selector li .thumbnail:hover .image {
  opacity: 0.3;
}

ul.thumbnails.image_picker_selector li .thumbnail:hover .middle {
  opacity: 1;
}

ul.thumbnails.image_picker_selector li .thumbnail .text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
