{% extends 'base.html' %}

{% load assign_tag %}
{% load staticfiles %}
{% load static %}

{% block title %}Búsqueda{% endblock %}


{% block stylesheet %}<!-- opcion de estilo -->
	<link rel="stylesheet" href="{% static 'css/filterEvents.css' %}">	
{% endblock %} <!-- fin de opcion de estilo -->

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
  <li class="breadcrumb-item active">{% if view.kwargs.type == 'own' %}Mis{% else %}Filtro de{% endif %} eventos</li>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>Herramientas de filtrado</h4>
  	    <a href="{% url 'eventFilter' type='all' %}">
	    	<span class="glyphicon glyphicon-trash"></span>
	    </a>
      <!-- barra lateral ejemplo
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Home</a></li>
        <li><a href="#section2">Friends</a></li>
        <li><a href="#section3">Family</a></li>
        <li><a href="#section3">Photos</a></li>
      </ul><br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Blog..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
      -->
      	
      	<form action="" method="GET">
      	    <button type="submit">
			   <span class="glyphicon glyphicon-filter"></span>
			</button>
			<br>
			<div class="input-group">


			<!-- filtro por proximidad  -->
			<ul class="nav nav-pills nav-stacked">	
				<li>
				    <label>Distancia</label>
			  			<input type="number" name="distance" min="100" max="50000" value="{{ distance }}">
			  		<label> metros</label>
				    <input type="hidden" name="lng"  id="campo_lng">
				    <input type="hidden" name="lat"  id="campo_lat">
			    </li>
				<li>
				    <label>Otra cosa</label>
			  			<input type="number" name="otracosa" min="100" max="50000" default="1000">
			  		<label> label</label>

			    </li>
			</ul><br>
		    </div>
            <button type="submit">
			   <span class="glyphicon glyphicon-filter"></span>
			</button>

		    
	    </form>
	    <br>
	    <a href="{% url 'eventFilter' type='all' %}">
	    	<span class="glyphicon glyphicon-trash"></span>
	    </a>
    </div>

    <div class="col-sm-9">
    {% if events %}
            
    <ul>
      {% assign count 0 %}<!-- creamos un contador para controlar la extension de la fila -->
      {% for event in events %}
      	{% ifequal count 0 %}    
	  			<div class="row">
  		{% endifequal %}
			  		<a href="/{% if view.kwargs.type == 'own' %}updateEvent{% else %}event{% endif %}/{{ event.pk }}">

			  		<div class="col-sm-4">
			      		<div class="panel panel-primary"><!-- panel-danger panel-success disponibles -->
					        <div class="panel-heading">{{ event.title }}</div>
					        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
					        <div class="panel-footer">{{event.summary}}</div>
			      		</div>
			    	</div>
			    	</a>
    	{% ifequal count 2 %}
	    		</div>
  			{% assign count 0 %}<!-- reseteamos contador -->
  		{% else %}
  			{% increment count %}<!-- count++ -->
  		{% endifequal %}
  		
      {% endfor %}
		<br>
    </ul>
    {% else %}
      <p>No se han encontrado coincidencias con su búsqueda</p>
    {% endif %}  
    </div>
</div>    
{% endblock %}
{% block javascriptBottom %}
    <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.


    // Try HTML5 geolocation.
    if (navigator.geolocation) {
    	var pos;
	    navigator.geolocation.getCurrentPosition(function(position) {
		    pos = {
		      lat: position.coords.latitude,
		      lng: position.coords.longitude
		    };
		    var getLong = document.getElementById("campo_lng");
		    var getLat = document.getElementById("campo_lat");
		    getLong.setAttribute("value", pos.lat /* la posición desde Javascript en el cliente */);
		    getLat.setAttribute("value", pos.lng /* la posición desde Javascript en el cliente */);
	  	});
	    
    }else{
    	alert("no se ha dado permisos de localización");
    }

    </script>
{% endblock %}
