{% extends 'base.html' %}

{% load assign_tag %}
{% load staticfiles %}
{% load static %}

{% block title %}Búsqueda{% endblock %}


{% block stylesheet %}<!-- opcion de estilo -->
	<link rel="stylesheet" href="{% static 'css/bootstrap-slider.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/filterEvents.css' %}">	
	<link rel="stylesheet" href="{% static 'css/bootstrap-tagsinput.css' %}">
	<link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/typeaheadjs.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-select.css' %}">
	
{% endblock %} <!-- fin de opcion de estilo -->

{% block javascript %}
	<script src="{% static 'js/bootstrap-select.js' %}"></script>


{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
  <li class="breadcrumb-item active">{% if view.kwargs.type == 'own' %}Mis{% else %}Filtro de{% endif %} eventos</li>
  <style>
  .grupoInteresesClass:focus {
  	border: 5px solid green;
	}
  </style>
{% endblock %}

{% block content %}
	<div class="container-fluid">
	  <div class="row content">
	    <div class="col-sm-3 sidenav">
	      <h4>Herramientas de filtrado</h4>     	
	      	<form action="" id="filterForm" method="GET">
	      	  	<a href="{% url 'eventFilter' type='all' %}">
		    		<span class="glyphicon glyphicon-trash"></span>
		    	</a>
	      	    <button type="submit">
				   <span class="glyphicon glyphicon-filter"></span>
				</button>
				
				
				<hr>
		      	<div class="row text-center">
				     <button type="button" onclick="setValueGroupIntereses('assistant');" class="btn btn-primary grupoInteresesClass">Asistiré</button>
				     <button type="button" onclick="setValueGroupIntereses('interested');" class="btn btn-info grupoInteresesClass">Interesado</button>
				     <button type="button"  onclick="setValueGroupIntereses('removed');" class="btn btn-danger grupoInteresesClass">Descartados</button>
				     <input type="hidden" name="grupoIntereses"  id="id_grupoIntereses">
		    	</div>
		    	<hr>				
				<div class="input-group">


				<!-- filtro por proximidad  -->
				<ul class="nav nav-pills nav-stacked">
					<li>
						<label>Presupuesto</label><br>
						0<span class="glyphicon glyphicon-euro"></span>
						<input id="budgetEvent" type="text" class="span2" value="{{ budget }}" name="budget" data-slider-min="0" data-slider-max="200" data-slider-step="5" data-slider-value="[0,200]"/> 
						200<span class="glyphicon glyphicon-euro"></span>
					</li>
					<li>
					    <label>Distancia</label><br>

						100m<input id="distanceSlider" type="text" data-slider-min="100" data-slider-max="20000" name="distance" data-slider-step="1" data-slider-value="{{distance|default:'1000' }}"/>20km<br>
						a <span id="ex6CurrentSliderValLabel"> <span id="distanceMeters">{{distance|default:'1000' }}</span> Metros</span>

					    <input type="hidden" name="lng"  id="campo_lng">
					    <input type="hidden" name="lat"  id="campo_lat">
				    </li>
					<li>
				    </li>
				</ul>
			    </div>   
		    </form>

		    <hr>
		    <label>Categorías</label>
		    <select form="filterForm" name="categories" id="first-disabled2" class="form-control selectpicker" multiple data-hide-disabled="true" data-size="5">
			    {% for category in allCategories %}
			      <option>{{ category }}</option>
			    {% endfor %}
	  		</select>

		    <hr>

		    <label>Etiquetas</label>
	  		<input placeholder="<etiqueta> (pulsa enter...)" type="text"  id="tags_input" value = "{{tags}}" form="filterForm" name="tags" data-role="tagsinput" />


	  		<hr>

		    <a href="{% url 'eventFilter' type='all' %}">
		    	<span class="glyphicon glyphicon-trash"></span>
		    </a>	    
		    <button type="submit" form="filterForm">
				   <span class="glyphicon glyphicon-filter"></span>
			</button> 
	    </div>

	    <div class="col-sm-9">
			{% include 'includes/pagination.html' %}
		    {% if events %}
		            
		    <ul>
		      {% assign count 0 %}<!-- creamos un contador para controlar la extension de la fila -->
		      {% for event in events %}
		      	{% ifequal count 0 %}    
			  			<div class="row">
		  		{% endifequal %}
					  		<a href="/{% if view.kwargs.type == 'own' %}updateEvent{% else %}event{% endif %}/{{ event.pk }}">

					  		<div class="col-sm-4">
					      		<div class="
					      		{% if user in event.interested_in.all %}
					      			panel panel-info
					      		{% elif user in event.signed_up.all %}
					      			panel panel-primary
					      		{% elif user in event.not_interested_in.all %}
					      			panel panel-danger
					      		{% else %}
					      			panel panel-default
					      		{% endif %}
					      		"><!-- panel-danger panel-success disponibles -->
							        <div class="panel-heading">{{ event.title }}</div>

							        <div class="panel-body"><img src="
							        {% if event.photo_set.all %}
							        	{{event.photo_set.all.0.picture.url}}
							        {% else %}
							        	https://placehold.it/200x130?text=IMAGE
							        {% endif %}
							        " class="img-responsive" style="width:100%;height: 130px" alt="Image"></div>
							        <div class="panel-footer">{{event.summary}}</div>
					      		</div>
					    	</div>
					    	</a>
		    	{% ifequal count 2 %}
			    		</div>
		  			{% assign count 0 %}<!-- reseteamos contador -->
		  		{% else %}
		  			{% increment count %}<!-- count++ -->
		  		{% endifequal %}
		  		
		      {% endfor %}
				<br>
		    </ul>
		    {% else %}
		      <p>No se han encontrado coincidencias con su búsqueda</p>
		    {% endif %} 

			{% include 'includes/pagination.html' %}

	    </div>
	  </div>
	</div>


{% endblock %}
{% block javascriptBottom %}
	<script src="{% static 'js/bootstrap-tagsinput.js' %}"></script>
	<script src="{% static 'js/simplemde.min.js' %}"></script>
	<script src="{% static 'js/typeahead.bundle.js' %}"></script>
	<script src="{% static 'js/bootstrap-slider.min.js' %}">	</script>
	<script>
	  var tags = new Bloodhound({
	  datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.name_tag); },
	  queryTokenizer: Bloodhound.tokenizers.whitespace,
	  local:{{autoTags|safe}}
	});

	  tags.initialize();

	  $('#tags_input').tagsinput({
	    typeaheadjs: {
	    name: 'tags',
	    displayKey: 'name_tag',
	    source: tags.ttAdapter()
	    }
	  });
	</script>

	
    <script>
	    if (navigator.geolocation) {
	    	var pos;
		    navigator.geolocation.getCurrentPosition(function(position) {
			    pos = {
			      lat: position.coords.latitude,
			      lng: position.coords.longitude
			    };
			    var getLong = document.getElementById("campo_lng");
			    var getLat = document.getElementById("campo_lat");
			    getLong.setAttribute("value", pos.lat /* la posición desde Javascript en el cliente */);
			    getLat.setAttribute("value", pos.lng /* la posición desde Javascript en el cliente */);
		  	});
		    
	    }else{
	    	alert("no se ha dado permisos de localización");
	    }
    </script>

	<script>
	  $(document).ready(function () {
	    var mySelect = $('#first-disabled2');


	    mySelect.selectpicker('val',[
	      {% for myCategory in categories %}
	        '{{ myCategory }}'{% if not forloop.last %},{% endif %}
	      {% endfor %}
	    ]);

	  });
	</script>

	<script>
	$("#budgetEvent").slider({});

	$("#distanceSlider").slider();
	$("#distanceSlider").on("slide", function(slideEvt) {
		$("#distanceMeters").text(slideEvt.value);
	});

	</script>

	<script>
	 function setValueGroupIntereses(value){
	 	var groupIntereses = document.getElementById("id_grupoIntereses");
	 	groupIntereses.value = value;
	 }
	</script>
{% endblock %}
