{% extends 'base.html' %}

{% block title %}Búsqueda{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
  <li class="breadcrumb-item active">{% if view.kwargs.type == 'own' %}Mis{% else %}Filtro de{% endif %} eventos</li>
{% endblock %}

{% block content %}
    {% if events %}
            
    <ul>

      {% for event in events %}
      <li>
        <a href="/{% if view.kwargs.type == 'own' %}updateEvent{% else %}event{% endif %}/{{ event.pk }}">{{ event.title }}</a> ({{event.summary}})
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>No se han encontrado coincidencias con su búsqueda</p>
    {% endif %}       
{% endblock %}