{% extends 'base.html' %}

{% load staticfiles %}
{% load static %}

{% block title %}{{ object.title }}{% endblock %}
{% block stylesheet %}<!-- opcion de estilo -->
  <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
  <style>
  	#circle
  	{
  	  	width: 100px;
  		height: 100px;

  		background: blue;
  		-moz-border-radius: 50px;
  		-webkit-border-radius: 50px;
  		border-radius: 50px;
  		float:left;
  	 	margin:5px;
  	}
  	.count, .counted
  	{
  	  line-height: 100px;
  	  color:white;
  	  font-size:25px;
  	}

  	      /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
          height: 400px;
          width: 100%;
         }
.thumbnail {
    padding:0px;
}
.panel {
  position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
  position:absolute;
  top:11px;left:-16px;
  right:100%;
  width:0;
  height:0;
  display:block;
  content:" ";
  border-color:transparent;
  border-style:solid solid outset;
  pointer-events:none;
}
.panel>.panel-heading:after{
  border-width:7px;
  border-right-color:#f7f7f7;
  margin-top:1px;
  margin-left:2px;
}
.panel>.panel-heading:before{
  border-right-color:#ddd;
  border-width:8px;
}

  </style>
{% endblock %} <!-- fin de opcion de estilo -->

{% block javascript %}
<script src="{% static 'js/simplemde.min.js' %}"></script>
{{ form.media }}

<script>
var lastButton;
  function up_down_count_badge(id,remove_add){
    badge = document.getElementById(id);
    var number = badge.innerHTML;
    if(remove_add == 'removed')
      number--;
    else
      number++;
    badge.innerHTML = number;
  }

  function change_button_style(id_button,id_name,value,remove_add){
    var name = document.getElementById(id_name);
    var button = document.getElementById(id_button);
    if(remove_add == 'removed'){
      button.classList.remove('btn-lg');
    }else{
      button.classList.add('btn-lg');
    }
    name.innerHTML = value;

  }
  
  function ajax_vote(tipo){
      $.ajax({
        type: "POST",
        url: '/eventFlowControl/'+tipo+'/',
        data: {
          'event_pk': '{{object.pk}}',
          'csrfmiddlewaretoken' : '{{ csrf_token }}'
        },
        dataType: 'json',
        success: function (data) {
          if(data.remove_add=='nothing')
            //en caso de opcion invalida
            alert("turn down for what!");
          else{

            if(tipo=="interested"){
              var msg = (data.remove_add=="removed" ? "Estoy interesado" : "Ya no estoy interesado");
              change_button_style("interested_button","interested_name",msg,data.remove_add);
              up_down_count_badge("interested_count",data.remove_add);
              //se pisa el boton de asistencia por si está pulsado, la logica se trata en el servidor
              if(lastButton=="assistants"){
                msg = "Voy a asistir";
                change_button_style("assistants_button","assistants_name",msg,"removed");
                up_down_count_badge("assistants_count","removed");
              }
              lastButton="interested";

            }else if(tipo=='assistants'){
              var msg = (data.remove_add=="removed" ? "Voy a asistir" : "Ya no asistiré");
              change_button_style("assistants_button","assistants_name",msg,data.remove_add);
              up_down_count_badge("assistants_count",data.remove_add);
              //se pisa el boton de interesado por si está pulsado, la logica se trata en el servidor
              if(lastButton=="interested"){
                msg = "Estoy interesado";
                change_button_style("interested_button","interested_name",msg,"removed");
                up_down_count_badge("interested_count","removed");
              }
              lastButton="assistants";

            }else if(tipo=='not_interested'){
              var msg = (data.remove_add=="removed" ? "No estoy interesado" : "Dar otra oportunidad");
              var button = document.getElementById("not_interested_button");
              if(data.remove_add == 'removed')
                button.className = 'btn btn-danger btn-md';
              else
                button.className = 'btn btn-success btn-lg';
              
              document.getElementById("assistants_button").disabled = !document.getElementById("assistants_button").disabled;
              document.getElementById("interested_button").disabled = !document.getElementById("interested_button").disabled;
              button.innerHTML = value;
            }

          }
        }
      });
    }
</script>
<script>
  function ajax_comment(tipo,messageID,commentID){
    if(tipo =="delete"){
      if(!confirm("¿Estás seguro que deseas borrar el comentario?"))
        return;
    }
      $.ajax({
        type: "POST",
        url: '/eventCommentsControl/'+tipo+'/',
        data: {
          'event_pk': '{{object.pk}}',
          'pk_comment': commentID,
          'message': simplemde.value(),
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        dataType: 'json',
        success: function (data) {
          alert(data.feedback);
        }
      });
    }
</script>
{% endblock %}


{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
  <li class="breadcrumb-item active">ver evento: {{ object.title }}</li>
{% endblock %}

{% block content %}
<div class="container text-center">    
  <h1>{{ object.title }} <small>(por {{ object.created_by }})</small></h1>
  <br>
</div> 

<div class="container">
<div class="row">
  <div class="col-sm-8">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        {% for photo in photos %}
          <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %} class="active" {% endif %}></li>
        {% endfor %}
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        {%if photos %}
          {% for photo in photos %}
            
          <div class="item {% if forloop.first %} active {% endif %}">
          
            <img src="{{photo.picture.url}}" style="width:100%; min-height:400px;max-height:400px;" alt="Image">
            <div class="carousel-caption">
              <!--
              <h3>{{photo.picture.name}}</h3>
              <p>Money Money.</p>
              -->
            </div>      
          </div>
          {% endfor %}
        {% else %}
          <div class="item active">
            <img src="/media/none/no-img.jpg" style="width:100%; min-height:400px;max-height:400px;" alt="Image">
            <div class="carousel-caption">
              
              <h3>Este evento no contiene imágenes</h3>
              <p>Hmmm...</p>
              
            </div>      
          </div>
        {% endif %}
      </div>

      {%if photos.count > 1 %}
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      {% endif %}
    </div>
  </div>
  <div class="col-sm-4">
  	<label>resumen</label>
    <div class="well" style="background:  #ADD8E6;">
      <p>{{ object.summary }}</p>
    </div>
    <label>Información relevante</label>
    <div class="well" style="background:  #ADD8E6;">
      <p>
        <strong>precio estimado:</strong> {{ object.budget }} <span class="glyphicon glyphicon-euro"></span>
      </p>
      <p>
        <strong>duracion estimada:</strong> {{ object.duration }}
      </p>
    </div>
    <label>Fecha prevista</label>
    <div class="well" style="background:  #ADD8E6;">
       <p>{{ object.date }}</p>
    </div>
  </div>
</div>
<hr>
</div>

<div class="container text-center">    
    <h1>Descripción</h1>
    <p>{{ object.get_description_as_markdown }}</p>
<hr>
</div>

<div class="container text-center">    
 	 <h1>Lugar previsto</h1>
    <div id="map"></div>
<hr>
</div>

<!-- 

  <markdown-editor v-model="content" ref="markdownEditor">
      {{ object.description }}
  </markdown-editor>

-->

<div class="container text-center">
  <div class="row">   
  {% if user.is_authenticated %}	
 		    <div class="col-sm-2">
	    	<div style="clear:both"></div> 
			<div id="circle"><span class="count">{{ object.views }} </span> <p>visitas</p></div>
	    </div>

      
        {% if not is_own %}

        <button id="interested_button" class="btn btn-info grupoInteresesClass" onclick="ajax_vote('interested')">
          <span id="interested_name">Estoy interesado</span> <span id="interested_count" class="badge">{{interested_count}}</span>
        </button>
        
        <button id="assistants_button" class="btn btn-primary grupoInteresesClass" onclick="ajax_vote('assistants')">
          <span id="assistants_name">Voy a asistir</span> <span id="assistants_count" class="badge">{{signed_up_count}}</span>
        </button>

        <button id="not_interested_button" class="btn btn-danger grupoInteresesClass" onclick="ajax_vote('not_interested')">
          No estoy interesado
        </button>

        {% else %}
          <div class="container text-center">
            <p>de momento  asistiran {{signed_up_count}} personas y  estan interesados otras {{interested_count}}.</p>
            <a href="/updateEvent/{{object.pk}}" class="btn btn-info" role="button">Editar evento</a>
          </div>
        {% endif %}
  {% else %}
    <div class="alert alert-info">  
      <p>Para habilitar las opciones del evento debes estar logueado</p>
    </div>
  {% endif %}
  	</div>
  	<hr>
</div>

{% if eventCategories %}

<h2>Categorías</h2>
<div class="panel panel-default">
  <div class="panel-body">
    {% for category in eventCategories %}
    <a href="{% url 'eventFilter' type='all' %}?categories={{ category }}" class="btn btn-info" role="button">{{category}} </a>
    {% endfor %}
  </div>
</div>

{% else %}

  <div class="alert alert-warning">
    Este evento no tiene asignada ninguna <strong>categoría!</strong>
  </div>

{% endif %}

{% if eventTags %}

<h2>Palabras clave</h2>
<div class="panel panel-default">
  <div class="panel-body">
  	{% for mykey,myvalue in eventTags.items %}
  	<a href="{% url 'eventFilter' type='all' %}?tags={{ mykey }}" class="btn btn-info" role="button">{{mykey}} <span class="badge">{{myvalue}}</span></a>
  	{% endfor %}
  </div>
</div>

{% else %}

  <div class="alert alert-warning">
    Este evento no tiene asignada ninguna <strong>palabra clave!</strong>
  </div>

{% endif %}

<div class="alert alert-info">  
{% if object.updated_at == 'None' %}
	<p>Fecha de creación: {{ object.created_at }}</p>
{% else %}
	<p>Fecha de la última actualización: {{ object.updated_at }}</p>
{% endif %}
</div>

<hr>
{% if user.is_authenticated %}
  <div class="container"> 
    <div class="row">
      <div class="col-sm-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Añade un comentario</h4>
          </div>
          <div class="panel-body">
            <textarea  id="newCommentArea" class="form-control" name="message" maxlength='250'></textarea>
          </div>
          <input type="hidden" name="id_event" value="{{object.pk}}">
        </div>
      </div>
      <div class="col-sm-1">
      <br><br>
        <button id="newComment" class="btn btn-primary btn-sm" onclick="ajax_comment('create','newCommentArea','sinID')">Publicar
        </button>
      </div>
    </div>
  <div>
{% else %}
    <div class="alert alert-info">  
      <p>Para poder comentar debes estar logueado</p>
    </div>
{% endif %}
<div class="container"> 
  <h3>Sección de comentarios</h3>
  {% for post in comments %}

  <div class="row">
    <div class="col-sm-1">
      <div class="thumbnail">
        <img class="img-responsive user-photo" src="{{ post.created_by.avatar.url }}">
      </div><!-- /thumbnail -->
    </div><!-- /col-sm-1 -->

    <div class="col-sm-5">
      <div class="panel panel-default">
      <div class="panel-heading">
      <strong>{{ post.created_by.username }}</strong> <span class="text-muted">{{ post.created_at }}</span>
      </div>
      <div id="comment_{{ forloop.counter0 }}" class="panel-body">
      {{ post.get_message_as_markdown }}
      </div><!-- /panel-body -->
      </div><!-- /panel panel-default -->
    </div><!-- /col-sm-5 -->

    {% if post.created_by == user %}
      <div class="col-sm-1">
          <div class="mt-3">
            <button id="assistants_button" class="btn btn-primary btn-sm" onclick="ajax_comment('assistants')">Editar
            </button>
          </div>
          <br>
          <div class="mt-3">
            <button id="assistants_button" class="btn btn-primary btn-sm" onclick="ajax_comment('remove','comment_{{ forloop.counter0 }}','{{post.pk}}')">Borrar
            </button>
          </div>
      </div>
    {% else %}
      <div class="col-sm-1">
          <div class="mt-3">
            <button id="assistants_button" class="btn btn-primary btn-sm" onclick="ajax_comment('assistants')">Contestar
            </button>
          </div>
      </div>
    {% endif %}
  </div><!-- /row -->
  {% endfor %}
</div>
{% endblock %}

{% block javascriptBottom %}
  <script src="{% static 'js/simplemde.min.js' %}"></script>
  <script>
    var myLat = {{ coor.y }}
    var myLng = {{ coor.x }}
  </script>

  <script src="{% static 'js/eventDetailsActions.js' %}"></script>


	<script>
  //inicializamos botones
  {% if not_interested_clicked %}
      lastButton = "not_interested";
      var msg =  "Dar otra oportunidad";
      var button = document.getElementById("not_interested_button");
      button.className = 'btn btn-success btn-lg';

      document.getElementById("assistants_button").disabled = !document.getElementById("assistants_button").disabled;
      document.getElementById("interested_button").disabled = !document.getElementById("interested_button").disabled;
      button.innerHTML = msg;
  {% elif signed_up_clicked %}
      lastButton = "assistants";
      var msg = "Ya no asistiré";
      change_button_style("assistants_button","assistants_name",msg,"added");
  {% elif interested_clicked %}
      lastButton = "interested";
      var msg = "Ya no estoy interesado";
      change_button_style("interested_button","interested_name",msg,"added");             
  {% endif %}

  $('.grupoInteresesClass').click(function(e) {
      $('.grupoInteresesClass').not(this).removeClass('btn-lg');    
      $(this).toggleClass('btn-lg');
      e.preventDefault();
  });


	</script>


	<script async defer
	    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOt21MFO0p-9eB7yNqwSKN76RjAEXNERE&callback=InitializeMap">
	</script>

<script>
var simplemde = new SimpleMDE({ element: document.getElementById("newCommentArea") });
</script>
{% endblock %}

