{% extends 'base.html' %}

{% load staticfiles %}
{% load static %}

{% block title %}{{ object.title }}{% endblock %}
{% block stylesheet %}<!-- opcion de estilo -->
<style>
	#circle
	{
	  	width: 100px;
		height: 100px;

		background: blue;
		-moz-border-radius: 50px;
		-webkit-border-radius: 50px;
		border-radius: 50px;
		float:left;
	 	margin:5px;
	}
	.count, .counted
	{
	  line-height: 100px;
	  color:white;
	  font-size:25px;
	}

	      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 400px;
        width: 100%;
       }
</style>
{% endblock %} <!-- fin de opcion de estilo -->
{% block javascript %}
<script src="{% static 'js/eventDetailsActions.js' %}"></script>
<script>

  function up_down_count_badge(id,remove_add){
    badge = document.getElementById(id);
    alert(badge.innerHTML);
    var number;
    if(remove_add == 'removed'){
      number = badge.innerHTML;
      number--;
      badge.innerHTML = number;
    }else{
      number = badge.innerHTML;
      number++;
      badge.innerHTML = number;
    }
  }

  function change_button_style(id,value,remove_add){
    alert(value);
    button = document.getElementById(id);
    if(remove_add == 'removed'){
      button.className = 'btn btn-success btn-lg';
    }else{
      button.className = 'btn btn-warning';
    }
    button.update(value);
  }
 
  function ajax_vote(tipo){
      $.ajax({
        type: "POST",
        url: '/eventFlowControl/'+tipo+'/',
        data: {
          'event_pk': '{{object.pk}}',
          'csrfmiddlewaretoken' : '{{ csrf_token }}'
        },
        dataType: 'json',
        success: function (data) {
          if(data.remove_add=='nothing')
            //en caso de opcion invalida
            alert("turn down for what!");
          else{
            alert(data.remove_add);
            if(tipo=="interested"){
              var msg = (data.remove_add=="removed" ? "Estoy interesado" : "Ya no estoy interesado");
              change_button_style("interested_button",msg,data.remove_add);
              up_down_count_badge("interested_count",data.remove_add);
              
            }else if(tipo=='assistants'){

            }
          }
        }
      });
    }
    
</script>
{% endblock %}


{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
  <li class="breadcrumb-item active">ver evento: {{ object.title }}</li>
{% endblock %}

{% block content %}
<div class="container text-center">    
  <h1>{{ object.title }}</h1>
  <br>
</div> 

<div class="container">
<div class="row">
  <div class="col-sm-8">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        {% for photo in photos %}
          <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %} class="active" {% endif %}></li>
        {% endfor %}
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        {% for photo in photos %}
          
        <div class="item {% if forloop.first %} active {% endif %}">
        
          <img src="{{photo.picture.url}}" alt="Image">
          <div class="carousel-caption">
            <h3>Sell $</h3>
            <p>Money Money.</p>
          </div>      
        </div>
        {% endfor %}
      </div>

      {%if photos.count > 1 %}
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      {% endif %}
    </div>
  </div>
  <div class="col-sm-4">
  	<label>resumen</label>
    <div class="well">
      <p>{{ object.summary }}</p>
    </div>
    <label>Descripción</label>
    <div class="well">
       <p>{{ object.description }}</p>
    </div>
  </div>
</div>
<hr>
</div>

<div class="container text-center">    
 	 </h2>Lugar previsto</h2>
    <div id="map"></div>
<hr>
</div>

<div class="container text-center">   
  	
 	<div class="row">
	    <div class="col-sm-2">
	    	<div style="clear:both"></div> 
			<div id="circle"><span class="count">{{ object.views }} </span> <p>visitas</p></div>
	    </div>
      {% if not is_own %}

      <button id="interested_button" class="btn btn-success btn-lg" onclick="ajax_vote('interested')">
        Estoy interesado <span id="interested_count" class="badge">0</span>
      </button>
      
      <button id="assistants_button" class="btn btn-success btn-lg" onclick="ajax_vote('assistants')">
        Voy a asistir <span id="assistants_count" class="badge">0</span>
      </button>

      <button id="not_interested_button" class="btn btn-danger btn-md" onclick="ajax_vote('not_interested')">
        No estoy interesado
      </button>

      {% else %}
        de momento 'x' asistiran y 'x' estan interesados
        <a href="/updateEvent/{{object.pk}}" class="btn btn-info" role="button">Editar evento</a>
      {% endif %}
  	</div>
  	<hr>
</div>
<h2>Categorías</h2>
<div class="panel panel-default">
  <div class="panel-body">
    {% for category in eventCategories %}
    <a href="{% url 'eventFilter' type='all' %}?categories={{ category }}" class="btn btn-info" role="button">{{category}} </a>
    {% endfor %}
  </div>
</div>
<h2>Palabras clave</h2>
<div class="panel panel-default">
  <div class="panel-body">
  	{% for mykey,myvalue in eventTags.items %}
  	<a href="{% url 'eventFilter' type='all' %}?tags={{ mykey }}" class="btn btn-info" role="button">{{mykey}} <span class="badge">{{myvalue}}</span></a>
  	{% endfor %}
  </div>
</div>

	<p>precio estimado: {{ object.budget }}</p>
	<p>duracion estimada: {{ object.duration }}</p>
	<p>Fecha de creación: {{ object.created_at }}</p>
	<p>Fecha de la última actualización: {{ object.updated_at }}</p>
	<p>Creado por: {{ object.created_by }}</p>
	<p>Localizado en: {{ object.geopos_at.coordinates }}</p>

{% endblock %}

{% block javascriptBottom %}
	<script>
  /*
    var myLat = {{ coor.y }}
    var myLng = {{ coor.x }}
		initMap = function() {
			var uluru = {lat: myLat, lng: myLng };
			var map = new google.maps.Map(document.getElementById('map'), {
			  zoom: 16,
			  center: uluru
			});
			var marker = new google.maps.Marker({
			  position: uluru,
			  map: map
			});
		}
    */
	</script>


<script>

//paso 3
//drawRoute() pintará la ruta entre 2 puntos
function drawRoute(destinationAddress, originAddress, _waypoints,_directionsRenderer) {
    //Define la variable request para route .
    var _request = '';

    var directionsService = new google.maps.DirectionsService();
    //Esto es para más de 2 localizaciones por si se añaden con el listener
    if (_waypoints.length > 0) {
        _request = {
            origin: originAddress,
            destination: destinationAddress,
            waypoints: _waypoints, //un array de waypoints
            optimizeWaypoints: true, //set a true if si se quiere determinar la ruta mas corta.
            travelMode: google.maps.DirectionsTravelMode.DRIVING
        };
    } else {
        //para 1 o 2 direcciones, aqui no se usan puntos
        _request = {
            origin: originAddress,
            destination: destinationAddress,
            travelMode: google.maps.DirectionsTravelMode.DRIVING
        };
    }
 
    //This will take the request and draw the route and return response and status as output
    directionsService.route(_request, function (_response, _status) {
        if (_status == google.maps.DirectionsStatus.OK) {
            _directionsRenderer.setDirections(_response);
        }
    });

    return _directionsRenderer;
}

//paso 2
//getRoutePointsAndWaypoints() calcula los puntos que usa drawRoute()
function getRoutePointsAndWaypoints(_directionsRenderer,_mapPoints) {
    //Define a variable for waypoints.
    var _waypoints = new Array();
 
    if (_mapPoints.length > 2) //Waypoints will be come.
    {
        for (var j = 1; j < _mapPoints.length - 1; j++) {
            var address = _mapPoints[j];
            if (address !== "") {
                _waypoints.push({
                    location: address,
                    stopover: true  //stopover is used to show marker on map for waypoints
                });
            }
        }
        //Call a drawRoute() function
        _directionsRenderer = drawRoute(_mapPoints[0], _mapPoints[_mapPoints.length - 1], _waypoints,_directionsRenderer);
    } else if (_mapPoints.length > 1) {
        //Call a drawRoute() function only for start and end locations
        _directionsRenderer = drawRoute(_mapPoints[_mapPoints.length - 2], _mapPoints[_mapPoints.length - 1], _waypoints,_directionsRenderer);
    } else {
        //Call a drawRoute() function only for one point as start and end locations.
        _directionsRenderer = drawRoute(_mapPoints[_mapPoints.length - 1], _mapPoints[_mapPoints.length - 1], _waypoints,_directionsRenderer);
    }
    return _directionsRenderer;
}
 
//paso 1
//InitializeMap() inicializa el mapa que se carga en la API
function InitializeMap() {
    
    //Define a variable with all map points.
    var _mapPoints = new Array();

    //Define a DirectionsRenderer variable.
    var _directionsRenderer = '';

    var myLat = {{ coor.y }}
    var myLng = {{ coor.x }}
    //DirectionsRenderer() is a used to render the direction
    _directionsRenderer = new google.maps.DirectionsRenderer();
 
    //Set the your own options for map.
    var myOptions = {
        zoom: 14,
        center: new google.maps.LatLng(myLat, myLng),
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
 
    //Define the map.
    var map = new google.maps.Map(document.getElementById("map"), myOptions);
   
    //Set the map for directionsRenderer
    _directionsRenderer.setMap(map);
    
    if (navigator.geolocation) {


      //Set different options for DirectionsRenderer mehtods.
      //draggable option will used to drag the route.
      _directionsRenderer.setOptions({
          draggable: true
      });
      
      navigator.geolocation.getCurrentPosition(function(position) {
       var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        var origen = new google.maps.LatLng(pos.lat, pos.lng);
          _mapPoints.push(origen);
          _directionsRenderer = getRoutePointsAndWaypoints(_directionsRenderer,_mapPoints);
      });

      var destino = new google.maps.LatLng(myLat, myLng);
          _mapPoints.push(destino);
          _directionsRenderer = getRoutePointsAndWaypoints(_directionsRenderer,_mapPoints);

      
       /*     //Add the doubel click event to map.
      google.maps.event.addListener(map, "dblclick", function (event) {
          //Check if Avg Speed value is enter.
          if ($("#txtAvgSpeed").val() == '') {
              alert("Please enter the Average Speed (km/hr).");
              $("#txtAvgSpeed").focus();
              return false;
          }
         
          var _currentPoints = event.latLng;
          _mapPoints.push(_currentPoints);
          _directionsRenderer = getRoutePointsAndWaypoints(_directionsRenderer,_mapPoints);
      });
     
      //Add an event to route direction. This will fire when the direction is changed.
      google.maps.event.addListener(_directionsRenderer, 'directions_changed', function () {
          computeTotalDistanceforRoute(_directionsRenderer.directions);
      });
      */
    }else{
      alert("no se ha dado permisos de localización");
      var marker = new google.maps.Marker({
        position: uluru,
        map: map
      });
    }
}



</script>

	<script async defer
	    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOt21MFO0p-9eB7yNqwSKN76RjAEXNERE&callback=InitializeMap">
	</script>
{% endblock %}



