{% extends 'base.html' %}

{% load static %}

{% block title %}Nuevo evento{% endblock %}

{% block stylesheet %}

  <link rel="stylesheet" href="{% static 'css/bootstrap-select.css' %}">
  <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-tagsinput.css' %}">
  <link rel="stylesheet" href="{% static 'css/typeaheadjs.css' %}">
sudo service postgresql start
{% endblock %}

{% block javascript %}
  {{ formGeo.media }}
  <script src="{% static 'js/jquery.uploadPreview.js' %}"></script>
  <script src="{% static 'js/bootstrap-select.js' %}"></script>
  {{ form.media }}
 

{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
  <li class="breadcrumb-item active">Nuevo evento</li>
{% endblock %}


{% block content %}


  <button form="mainForm" type="submit" class="btn btn-success">Crear evento</button>
    <br><br>
  <form id="mainForm" method="post" class="form-group" enctype="multipart/form-data" novalidate>

    {% csrf_token %}

    {% include 'includes/form.html' %}
    {% include 'includes/formGeo.html' %}

    <label>Elige fotos:</label>
    {{ formset.management_form }}
    {% for subform in formset %}
   <!-- 
    de la manera que funciona el preview

    <div id="image-preview">
      <label for="image-upload" id="image-label">Elige una imagen</label>
      <input type="file" name="image" id="image-upload" />
    </div>

    de la manera que se genera el codigo con el queryset
    <div class="link-formset dynamic-form">
      <input type="file" name="form-0-picture" id="id_form-0-picture"><input type="hidden" name="form-0-id" id="id_form-0-id">
      <a class="delete-row" href="javascript:void(0)">quitar</a>
    </div>
    -->


	    <div class="link-formset">
      {{subform}}
	    </div>
    {% endfor %}
  </form>
  <hr>
  <h2>Categorías</h2>
  <small>temática del evento</small><br>
  <select form="mainForm" name="myCategories" id="first-disabled2" class="selectpicker" multiple data-hide-disabled="true" data-size="5">
    {% for category in allCategories %}
      <option>{{ category }}</option>
    {% endfor %}
  </select>
  <br><br>
  <button id="special" class="btn btn-default">Volvemos a empezar...</button>
  <button id="special2" class="btn btn-default">¡un momento! quería las de antes</button>
  <hr>
  <h2>Etiquetas</h2>
  <small>para facilitar su búsqueda puedes añadir palabras clave</small><br>
      <input placeholder="nuevoTag (press enter...)" type="text"  value="" form="mainForm" name="myTags" id="tags_input" data-role="tagsinput" />
  <br><br>
  <button form="mainForm" type="submit" class="btn btn-success">Crear evento</button>


            


{% endblock %}
{% block javascriptBottom %}
<script src="{% static 'js/bootstrap-tagsinput.js' %}"></script>
<script src="{% static 'js/simplemde.min.js' %}"></script>
  <script>
    var simplemde = new SimpleMDE();
  </script>
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script>
    $('.link-formset').formset({
      addText: 'nueva foto',
      deleteText: 'quitar'
    });

 </script>


<script src="{% static 'js/typeahead.bundle.js' %}"></script>
<script>
  var tags = new Bloodhound({
  datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.name_tag); },
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  local:{{autoTags|safe}}
});

  tags.initialize();

  $('#tags_input').tagsinput({
    typeaheadjs: {
    name: 'tags',
    displayKey: 'name_tag',
    source: tags.ttAdapter()
    }
  });
</script>


<script>

  $(document).ready(function () {
    var mySelect = $('#first-disabled2');

    $('#special').on('click', function () {
      mySelect.find('option:selected').prop('disabled', true);
      mySelect.selectpicker('refresh');
    });

    $('#special2').on('click', function () {
      mySelect.find('option:disabled').prop('disabled', false);
      mySelect.selectpicker('refresh');
    });

  });
</script>

{% endblock %}

