{% extends 'base.html' %}

{% load static %}

{% block title %}Editar evento{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-tagsinput.css' %}">
{% endblock %}

{% block javascript %}
  {{ formGeo.media }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
  <li class="breadcrumb-item active">Editar evento</li>
{% endblock %}

{% block content %}
  <form method="post" id="mainForm" class="mb-4" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    {% include 'includes/formGeo.html' %}
    <button type="submit" class="btn btn-success">Guardar cambios</button>
    <a href="{% url 'home' %}" class="btn btn-outline-secondary" role="button">Cancelar</a>
  </form>
  <hr>
  <h2>Tags</h2><br>
  <input placeholder="nuevoTag (press enter...)" value = "{{valueTags}}" type="text"  value="" form="mainForm" name="myTags" data-role="tagsinput" />
{% endblock %}

{% block javascriptBottom %}
<script src="{% static 'js/bootstrap-tagsinput.js' %}"></script>
<script src="{% static 'js/simplemde.min.js' %}"></script>
<script>
var simplemde = new SimpleMDE();
</script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script>
    $('.link-formset').formset({
        addText: 'nueva foto',
        deleteText: 'quitar'
    });
</script>
{% endblock %}