{% extends 'base.html' %}

{% load static %}

{% block title %}Editar evento{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/bootstrap-select.css' %}">
  <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-tagsinput.css' %}">
  <link rel="stylesheet" href="{% static 'css/typeaheadjs.css' %}">
  
{% endblock %}

{% block javascript %}
  {{ formGeo.media }}
  <script src="{% static 'js/bootstrap-select.js' %}"></script>
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
  <li class="breadcrumb-item active">Editar evento</li>
{% endblock %}

{% block content %}
  <form method="post" id="mainForm" class="mb-4" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    {% include 'includes/formGeo.html' %}
    <button type="submit" class="btn btn-success">Guardar cambios</button>
    <a href="{% url 'home' %}" class="btn btn-outline-secondary" role="button">Cancelar</a>
  </form>
  <hr>
  <h2>Categorías</h2>
  <small>temática del evento</small><br>
  <select  form="mainForm" name="myCategories" id="first-disabled2" class="selectpicker" multiple data-hide-disabled="true" data-size="5">
    {% for category in allCategories %}
      <option>{{ category }}</option>
    {% endfor %}
  </select>
  <br><br>
  <button id="special" class="btn btn-default">Volvemos a empezar...</button>
  <button id="special2" class="btn btn-default">¡un momento! quería las de antes</button>
  <hr>
  <h2>Tags</h2><br>
  <input placeholder="nuevoTag (press enter...)" value = "{{valueTags}}" type="text"  value="" form="mainForm" name="myTags" id="tags_input" data-role="tagsinput" />
{% endblock %}

{% block javascriptBottom %}
<script src="{% static 'js/bootstrap-tagsinput.js' %}"></script>

<script src="{% static 'js/simplemde.min.js' %}"></script>

<script>
var simplemde = new SimpleMDE();
</script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script>
    $('.link-formset').formset({
        addText: 'nueva foto',
        deleteText: 'quitar'
    });
</script>

<script src="{% static 'js/typeahead.bundle.js' %}"></script>

<script>
  var tags = new Bloodhound({
  datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.name_tag); },
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  local:{{autoTags|safe}}
});

  tags.initialize();

  $('#tags_input').tagsinput({
    typeaheadjs: {
    name: 'tags',
    displayKey: 'name_tag',
    source: tags.ttAdapter()
    }
  });
</script>

<script>
  $(document).ready(function () {
    var mySelect = $('#first-disabled2');

    mySelect.selectpicker('val',[
      {% for myCategory in myCategories %}
        '{{myCategory}}'{% if not forloop.last %},{% endif %}
      {% endfor %}
    ]);
    
    $('#special').on('click', function () {
      mySelect.find('option:selected').prop('disabled', true);
      mySelect.selectpicker('refresh');
    });

    $('#special2').on('click', function () {
      mySelect.find('option:disabled').prop('disabled', false);
      mySelect.selectpicker('refresh');
    });
  });
</script>
{% endblock %}